<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Credenciales Inválidas</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            text-align: center; /* Centrar todo el texto */
            background-color: #ffe6e6;
        }
        h1 {
            color: #ff3333; /* Color rojo para el encabezado */
        }
    </style>
</head>
<body>
    <h1>Credenciales Inválidas</h1>
    <p>Lo sentimos, las credenciales ingresadas no son válidas.</p>
    <p><a href="/">Volver a la página principal</a></p>
</body>
</html>
